:root.dark {
    --shiki-color-text: theme('colors.white');
    --shiki-color-background: theme('colors.zinc.900');
    --shiki-token-constant: theme('colors.ens.300');
    --shiki-token-string: theme('colors.ens.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.ens.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
}

:root {
    --shiki-color-text: #0969da;
    --shiki-color-background: #afb8c133;
    --shiki-token-constant: #0044ff;
    --shiki-token-string: #0a3069;
    --shiki-token-comment: #6e7781;
    --shiki-token-keyword: #cf222e;
    --shiki-token-parameter: #0a3069;
    --shiki-token-function: #6639ba;
    --shiki-token-string-expression: #0a3069;
    --shiki-token-punctuation: #6e7781;
    --shiki-token-link: #0969da;
}

@media (min-width: 768px) {
    :root {
        font-size: 18px;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:shadow-md ring-1 ring-black/10 dark:ring-white/10;
}

html.dark {
    color-scheme: dark;
}

.lheader::-webkit-scrollbar {
    @apply bg-transparent w-2;
}

.lheader::-webkit-scrollbar-track {
    background: transparent;
}

.lheader:hover::-webkit-scrollbar-thumb {
    @apply bg-zinc-900/10 rounded-full dark:bg-zinc-200/10;
}

pre {
    @apply bg-white;
}

.focus-code {
    @apply w-full;
}

.focus-code::before {
    content: '';
    @apply absolute left-0 right-0 h-[24px] bg-ens-400/5;
}

@media (min-width: 1650px) {
    .pagedetails_wrapper {
        @apply inset-x-0 top-16 w-full absolute;
    }
    .pagedetails {
        margin-left: calc(50% - min(50%, 33rem));
        margin-right: calc(50% - min(50%, 33rem));
    }
    .pagedetails_inner {
        @apply absolute left-full px-4 h-[100px] !w-72;
    }
}

.pagedetails_wrapper {
}

.pagedetails {
    @apply relative w-full max-w-[900px];
    @apply mt-4;
}

.pagedetails_inner {
    @apply w-full h-fit space-y-4;
}